@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	font-family: 'Poppins', sans-serif;
}
body{
	height: 100vh;
	background-image: url(../public/background.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	/*display: grid;
	place-items: center;*/
}


.App{
	padding: 1rem;
	width: 60%;
	margin:  3rem auto;
  border-radius: 15px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
  align-items: center;
}

.App::before{
	background-color: rgba(255, 255, 255, 0.3);
	backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
	content: '';
	height: 100%;
	position: absolute;
	width: 100%;
	border-radius: 15px;
}


.navbar{
	margin: 1rem 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	position: relative;
  	z-index: 2;
}

.nav-item{
	margin: 0.3rem 0;
}

.temp-btn{
	border-radius: 15px;
	height: 2.2rem;
	width: 2.2rem;
	padding: auto;
	border: none;
	background: none;
	cursor: pointer;
}

#search{
	background: none;
	text-align: center;
	border:  none;
	border-bottom:  1px solid black;
	outline: none;
}

#search-btn{
	background: none;
	border: none;
}

.main{
}

.bg-img{
	height: 250px;
}



.today{
	width: 80%;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	position: relative;
  	z-index: 2;
}

.max-min{
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.description{
	text-align: center;
}

.icon{
	object-fit: contain;
}

@media only screen and (max-width: 600px) {
  .App{
    width: 90%;
  }

  .nav-item label{
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  #search-btn{
    margin-top: 1rem;
  }
}